*{
    margin: "0px";
    padding: "0px";
    box-sizing: border-box;
    
}
.navbar-container{
    height: 60px;
    font-family: 'Orbitron';
    /* background-color: chartreuse; */
    display:flex;
    justify-content:space-around;
    align-items: center;
}
img{
    height: 50px;
    width: 50px;
}
.list{
    height: 50px;
    width:500px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.button-group{
    height: 50px;
    width: 150px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-button{
    height: 30px;
    width: 105px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid black;
}
.hero-container{
    height: 500px;    
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    
}
.hero-container-left{
    height: 450px;
    width: 450px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
}
.hero-container-right{
    height: 420px;
    width: 600px;
    margin-top: 8rem;
    /* margin-left: 300px; */
    /* border: 2px solid black;  */
    display: flex;
    flex-direction: column;   
    align-items: center;
    text-align: center;
}

.hero{
    height: 400px;
    width: 300px;
    position: fixed;
    left: 7rem;
    bottom: 90px;
    
}
.square{
    height: 290px;
    width: 290px;
    position: relative;
    left: 6rem;
    top:80px;
}
.hero-heading{
    height: 40px;
    width: 600px;
    font-size: 42px;
    font-family: 'Orbitron';
}
.hero-description{
    height: 150px;
    width: 520px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 12px;
}
.button-email{
    height: 30px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Orbitron';
}
.button-join{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Orbitron';
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
    font-family: 'Poppins';
    font-size: small;
}
.contact-heading{
    font-size: 20px;
    color: rgb(51, 50, 50);
    margin-bottom: 15px;
}

.star{
    position: absolute;
    top: 142px;
    right: 10%;
    size: 10px;
}
.star2{
    position: absolute;
    bottom: 100px;
    left: 45%;
    size: 20%;

}
.globe{
    position: absolute;
    top: 90px;
    left: 50%;
}
/* .icons{
    display: flex;
    flex-direction: row;
    
} */



